<body>
<b>var1 = {{ var1 }}</b> <br/>
< b > var * 2 = \{\{var * 2\}\} < b ><br/>
<b>var3 = {{ var3}}</b> <br/>
{% if varl var2 %}
<p><i>varl è minore di var2 4i > 4b >
{% elif varl > var2%}
<p><i>varl è maggiore di var2 </i></b>
[% else %]
<p><i>varl è uguale a var2 </i></b>
{% endif %}
{% if varl > var2 %)
<p><i>varl è maggiore di var2 </i></p>
{% elif varl < var2 %)
<p><i>varl è minore di var2 </i></p>
{% else %)
<p><i>varl è uguale a var2 </i></b>
{% endif %}
{% if varl≤ var2 %}
<p><i>varl is minore o uguale di var2 </i></p>
{% elif varl > var2%]}
<p><i>varl è maggiore di var2 </i></p>
{% endif %}
{% if varl≥ var2 %}
<p><i>varl è maggiore o uguale di var2 </i></p>
{% elif var varl %}
<p><i>varl è minore di var2 </i></p>
{% endif %}
{% if varl var2%)
<p><i>varl è uguale a var2 </i></p>
{% elif var≠ var2 %}
<p><i>varl non è uguale a var2 </i></p>
{% endif %}
{% if varl < var2 and var1 < var3%}
<p><i>varl è minore di var2 and varl è minore di var3 </i></p>
{% elif varl var2 and varl > var3%}
<p><i>varl è maggiore di var2 and varl è maggiore di var3 </i></p>
{% endif %}
1% if not varl var2 %}
<p><i>varl non è maggiore di var2 </i></p>
{% elif not var1 < var2%}
<p><i>varl non è minore di var2 </i></p>
{% else %}
<p><i>varl è uguale a var2 </i></p>
{% endif %}
</body>
</html>